:root{
    --color-heading: rgb(18, 55, 109);
    --color-body: rgb(33, 37, 41);
    --color-secondary: rgb(0, 80, 175);
}

.container{
    max-width: 1140px;
}

/* Topography */
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-body);
}
h1,h2{
    color: var(--color-heading);
}
h3,h4{
    color:rgba(0, 0, 0, 0.85) ;
}
h1{
    font-size: 6.7rem;
}
h2{
    font-size: 4.8rem;
}
h3{
    font-size: 2.4rem;
}
h4{
    font-size: 1.8rem;
}

/* List */
.list{
    list-style: none;
}
.list-tick{
    list-style-image: url(/images/check-circle.de068b8d.svg);
}

/* Links */
a{
    text-decoration: none;
}
.link-arrow{
    font-size: 1.4rem;
    color: var(--color-heading);
    border-top: 0;
       
}
.link-arrow::after{
    content: url(/images/right-arrow.e1bf0956.svg);
    padding-left: 0.6rem;
    vertical-align: middle;
}