:root{
    --color-heading: rgb(18, 55, 109);
    --color-body: rgb(33, 37, 41);
    --color-secondary: rgb(0, 80, 175);
}

.container{
    max-width: 1140px;
}

/* Topography */
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    color: var(--color-body);
}
h1,h2{
    color: var(--color-heading);
}
h3,h4{
    color:rgba(0, 0, 0, 0.85) ;
}
h1{
    font-size: 4.8rem;
    margin-bottom: 0;
}
h2{
    font-size: 3.8rem;
}
h3{
    font-size: 2.4rem;
}
h4{
    font-size: 1.8rem;
}
p{
    font-size: 1.6rem;
    margin-top: 1.8rem;

}

/* List */
.list{
    list-style: none;
}
.list-tick{
    list-style-image: url(/images/check-circle.de068b8d.svg);
}

/* Links */
a{
    text-decoration: none;
}
.link-arrow{
    font-size: 1.4rem;
    color: var(--color-heading);
    border-top: 0;
       
}
.link-arrow::after{
    content: url(/images/right-arrow.e1bf0956.svg);
    padding-left: 0.6rem;
    vertical-align: middle;
    transition: 0.15s;
}
.link-arrow:hover::after{
    margin-left: 0.2rem;
}
/* Buttons */
.btn{
    color: var(--color-secondary);
    background-color: rgb(232, 238, 244);
    border: 0;
    padding: 2rem 4.5rem;
    border-radius: 7px;
    font-size: 2rem;
    font-weight: 600;
}
.btn-primary{
    padding: 0.9rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
}
.btn1{
    background-color: rgb(25, 135, 84);
    color: #fff;
    font-weight: 800;
}
.btn2{
    background-color: rgb(255, 193, 7);
    color: black;
    font-weight: 800;
}
/* Cards */
.cards{
    padding-left: 3rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
    max-width: 320px;
    margin-left: 3rem;
    margin-top: 2rem;
    border-bottom: 3rem;
}
.card-text{
    margin-top: 1rem;
    font-size: 1.4rem;
    margin-bottom: 7rem;
    margin-right: 2rem;

}
.card-header{
    margin-bottom: 0;
    margin-top: 6rem;
}
.card-1{
    background-color: rgb(253, 245, 242);
}
.card-2{
    background-color: rgb(242, 247, 251);
}
.card-3{
    background-color: rgb(252, 249, 242);
}

/* Navigation */
.navigation > p{
   background-image: linear-gradient(274.41deg, rgb(217, 227, 239) 3.11%, rgb(250, 250, 250) 95.95%);
      border-color: aqua;
}
.navigation{
    background-image: linear-gradient(274.41deg, rgb(217, 227, 239) 3.11%, rgb(250, 250, 250) 95.95%);
}

.navigation-item{
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 500px;
    flex-wrap: nowrap;
}
.navigation .list-item{
    display: none;
    padding-right: 1.5rem;
}
@media screen and (min-width: 768px) {
    .fa-sharp 
    ,.fa-solid 
    ,.fa-bars{
        display: ;
    }
    .toggler ,.fa-sharp, .fa-solid, .fa-bars{
        display: none;
    }
    .navigation .list-item{
        display: inline-block;
    }
    .navigation{
        display: flex;
        justify-content: space-between;

    }
    .list-item{
        display: flex;
        font-size: 1.2rem;
        font-weight: 600;
    }
}
/* Block Header */
.block-header{
    text-align: left;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background-image: linear-gradient(274.41deg, rgb(217, 227, 239) 3.11%, rgb(250, 250, 250) 95.95%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-bottom: 5rem;
    padding-top: 3rem;
}
.block-header-image{
    display: none;
}
@media screen and (min-width: 768px) {
    .block-header{
        display: flex;
    }
    .block-header-image{
        display: initial;
        width: 100%;
        max-width: 30rem;
        max-height: 50rem;
        padding-top: 3rem;
    }
}
/* Center Block */
.center-text{
    width: ;
    max-width: 30vw;
    padding-left: 3.5rem;
}
.center-text h1{
    color: black;
}
.center-grid--4x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 8rem;
    padding-top: 3.5rem;
}
@media screen and (min-width: 768px) {
    .center-grid--4x2{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .center-text p{
        font-size: 2rem;
    }
}
/* Media Block */
.media-block{
    display: flex;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}
.media-block h2{
   margin-bottom: 0;
}
.media-block-image{
    display: none;
}
@media screen and (min-width: 768px) {
    .media-block-image{
    display: initial;
    width: 50%;
    padding-right: 3rem;
}