<article class="article-block">
  <div class="article-left">
    <h2>Who are we for?</h2>
    <p>
      You don't need to be a genius or have a degree in Computer Science to
      learn how to code with us! Our courses are designed for anyone who has
      basic knowledge about computers and wants to build their own career in
      technology.
    </p>
    <p>
      We'll guide you through the process of getting into tech and help you make
      connections with mentors and peers!.
    </p>
    <img
      class="article__left-image"
      src="images/requirement-image.a70c67e8.png"
      alt=""
    />
  </div>
  <div class="article-right">
    <img
      class="article__right-image"
      src="images/requirement-image2.b393a556.png"
      alt=""
    />
    <p class="article-text">
      We'll guide you through the process of getting into tech and help you make
      connections with mentors and peers!.
    </p>
    <button class="btn"><a href="#">Learn more</a></button>
  </div>
</article>
