<div class="cards card-1">
  <img src="/images/01.svg" alt="" />
  <h3 class="card-header">Web Development</h3>
  <p class="card-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsa.
  </p>
  <a href="#" class="link-arrow">Explore</a>
</div>
<div class="cards card-2">
  <img src="/images/01.svg" alt="" />
  <h3 class="card-header">Web Development</h3>
  <p class="card-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsa.
  </p>
  <a href="#" class="link-arrow">Explore</a>
</div>
<div class="cards card-3">
  <img src="/images/01.svg" alt="" />
  <h3 class="card-header">Web Development</h3>
  <p class="card-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ipsa.
  </p>
  <a href="#" class="link-arrow">Explore</a>
</div>
