<section class="footer">
  <footer class="footer__list">
    <li>
      <h4 class="footer__list-header">Home</h4>
      <ul>
        <a href="#">Overview</a>
      </ul>
      <ul>
        <a href="#">Tracks new</a>
      </ul>
      <ul>
        <a href="#">Tutorials</a>
      </ul>
      <ul>
        <a href="#">Releases</a>
      </ul>
    </li>
    <li>
      <h4 class="footer__list-header">Community</h4>
      <ul>
        <a href="#">About</a>
      </ul>
      <ul>
        <a href="#">Blog</a>
      </ul>
      <ul>
        <a href="#">Careers</a>
      </ul>
      <ul>
        <a href="#">Contact</a>
      </ul>
      <ul>
        <a href="#">Partners</a>
      </ul>
    </li>
    <li>
      <h4 class="footer__list-header">Legal</h4>
      <ul>
        <a href="#">Cookies Policy</a>
      </ul>
      <ul>
        <a href="#">Privacy Policy</a>
      </ul>
      <ul>
        <a href="#">Terms of Service</a>
      </ul>
      <ul>
        <a href="#">Law Enforcement</a>
      </ul>
      <ul>
        <a href="#">Status</a>
      </ul>
    </li>
    <li>
      <h4 class="footer__list-header">Follow us</h4>
      <ul>
        <a href="#">Facebook</a>
      </ul>
      <ul>
        <a href="#">Twitter</a>
      </ul>
      <ul>
        <a href="#">Dribbble</a>
      </ul>
      <ul>
        <a href="#">Instagram</a>
      </ul>
      <ul>
        <a href="#">LinkedIn</a>
      </ul>
    </li>
  </footer>
  <div class="footer__end">
    <img src="images/index.png" alt="" />
    <p>© 2021 CodeClan Nigeria. All rights reserved.</p>
    <p>This site is owned and operated by Ajiboye Temitope.</p>
  </div>
</section>
