<div class="media-block">
  <img
    class="media-block-image"
    src="images/testedandtrusted.1f987873.png"
    alt=""
  />
  <div class="media-article">
    <h2>What are we about?</h2>
    <p>
      We offer programs to teach you how to code. To date, we have helped over
      500 people from all walks of life to get hands-on experience in the tech
      sector. We are the only organisation in Nigeria with this specific focus.
    </p>
    <p>
      We understand how difficult it can be to get into tech, so we provide a
      mentoring program that will guide you through the process of getting your
      first job, and offer continued mentorship support for as long as you need
      it.
    </p>
    <button class="btn"><a href="#">Learn more</a></button>
  </div>
</div>
