<section class="prefooter__section">
  <div class="prefooter">
    <h2 class="prefooter__header">
      Join the Code Clan Nigeria Community Today
    </h2>
    <li>
      <ul>
        <img src="images/check-circle.de068b8d.svg" alt="" />
        <p>Fully organized training Sessions</p>
      </ul>
      <ul>
        <img src="images/check-circle.de068b8d.svg" alt="" />
        <p>Belong to an amazing Community</p>
      </ul>
      <ul>
        <img src="images/check-circle.de068b8d.svg" alt="" />
        <p>Helpful resources for beginners</p>
      </ul>
    </li>
  </div>
  <div class="prefooter__buttons">
    <a class="btn btn__prefooter" href="#">Join Now</a>
    <a class="btn" href="#">Join Discord</a>
  </div>
</section>
